<% include ../partials/header %>

<div class="container index-container">

<h1 class="indexotsikko">Observation points</h1>

<br>

   
             <p class="linkki"><a href="/weatherapp/Helsinki" class="btn btn-lg btn-primary">Helsinki</a></p>
        
             <p class="linkki"><a href="/weatherapp/Dubai" class="btn btn-lg btn-warning">Dubai</a></p>
          
             <p class="linkki"><a href="/weatherapp/Amsterdam" class="btn btn-lg btn-danger">Amsterdam</a></p>
       
             <p class="linkki"><a href="/weatherapp/NewYork" class="btn btn-lg btn-info">New York</a></p>
        
             <p class="linkki"><a href="/weatherapp/Tokio" class="btn btn-lg btn-success">Tokio</a></p>
        

</div>
<% include ../partials/footer %>