<!DOCTYPE html>
<html>
    <head>
        <title>WeatherApp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body>
        
        
    <div id="landing-header">
        
        <h1>Welcome to the weather application</h1>
        <a href="/weatherapp" class="btn btn-lg btn-default">See all observation points</a>
        
    </div>
    
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    
        
        
    </body>
</html>